# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore everything in the posts folder
/app/blog/posts/*

# Do not ignore the example folder within posts
!/app/blog/posts/example

# Ignore everything inside the example folder except .mdx files
/app/blog/posts/example/*
!/app/blog/posts/example/*.mdx