/*
 * Base reset & global defaults.
 */

*,
*::before,
*::after {
	@apply box-border;
}

html {
	@apply scroll-smooth antialiased;
}

body {
	@apply m-0 min-h-screen font-sans;
	line-height: 1.5;
}

a {
	@apply no-underline;
}
