/*
 * Container & layout spacing utilities.
 * Defines the main content container and vertical rhythm helpers.
 * Used to reflect WordPress block classes.
 */

.grid-design {
	@apply grid grid-cols-4 lg:grid-cols-12 gap-11;
}

.container {
	@apply px-4 md:px-0;
}

@theme {
	--breakpoint-sm: 30rem;
	--breakpoint-md: 50rem;
	--breakpoint-lg: 70rem;
	--breakpoint-xl: 90rem;
}