/*
 * Spacing tokens & block defaults.
 * Used to reflect WordPress block classes.
 */

:root {
	--spacing-16: 16px;
	--spacing-32: 32px;
	--spacing-64: 64px;
	--spacing-96: 96px;
	--spacing-112: 112px;
}
