.edit-post-visual-editor,
.interface-interface-skeleton__content {
	background-color: black;
}

.editor-styles-wrapper {
	margin-inline: auto;
	width: 100%;
	max-width: 56rem;
	padding-inline: 1.5rem;
	padding-block: 3rem;
}
